Skins/ModernGadgets/ReleaseStatsMeter/ReleaseStatsMeter.ini
Skins/ModernGadgets/ReleaseStatsMeter/Settings/ReleaseStatsMeterSettings.ini
Skins/ModernGadgets/@Resources/Settings/ReleaseSettings.inc
Skins/ModernGadgets/@Resources/Scripts/GitHubStats.lua
Skins/ModernGadgets/@Resources/Assets/Images/source.png
